* {
	margin:0;
	padding:0;
}

/* html5 display rule */
address, article, aside, content, details, figcaption, footer, header, menu,
nav, section, summary {
	display:block;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	background: -webkit-linear-gradient(#fff, #e0e0e0);
	background: -mozilla-linear-gradient(#fff, #e0e0e0);
	color:#7E878B;
}

header {
	height:150px;
	background:#fff;
	font-family:Adobe Poetica, Cursive;
	}
	header h4 {
		font-weight:normal;
		font-style:italic;
		text-align:center;
		clear:both;
		}	
	header #header-title {
		width:350px;
		margin:auto;
		}

		header #header-title h1:first-of-type  {
			color:#4FA300;
			}	
		header #header-title h1:nth-of-type(2)  {
			color:#704761;
			}		
		header #header-title h1:nth-of-type(3)  {
			color:#507097;
			}	
		header #header-title h1:nth-of-type(4)  {
			color:#303030;
			margin-left:10px;
			}
		header #header-title h1:nth-of-type(5)  {
			color:#507097;
			margin-left:10px;
			}								
		header #header-title h1:nth-of-type(6)  {
			color:#704761;
			}								
		header #header-title h1:nth-of-type(7)  {
			color:#4FA300;
			}								
		header h1 {
			float:left;
			font-size:40px;
			padding-top:30px;
			font-weight:400;
			text-align:center;
			font-family:Adobe Poetica;
			color:#303030;
			}

nav {
	font-family:Adobe Poetica, ;
	background:#fff;
	height:50px;
	line-height:50px;
	border-top: 2px solid #507097;
	border-bottom: 2px solid #704761;
	text-align:center;
	}
	nav ul {
		list-style-type: none;
		padding:0;	
		width:1090px;
		margin:auto;
		}
	nav ul li {
		margin:0;
		float:left;
		width:136px;
		height:100%;
		}
	nav ul li:hover {
		background:#525252;
		color:#fff;
		}
	
#page-container {
	width:1100px;
	max-width:1280px;
	margin:auto;	
	border: 0px solid #dcdcdc;	
	margin-top:28px;
}	

#left-aside {
	border: 0px solid #dcdcdc;	
	position:relative;
	float:left;
	width:250px;
	}
	#left-aside h4:nth-of-type(2) {
		border-top:1px dashed #ccc;
		margin-top:25px;
		padding-top:30px;
	}		
	#left-aside ul {
		margin-left:20px;
		margin-top:20px;
		}
		#left-aside ul li:before {
			content: "•";
			font-size: 80%;
			padding-right: 10px;
			}
			li{
			  font-size: 15px;
			  list-style-type:none;
			  height:25px;	
			  }
				
content {
	float:left;
	border:0px solid #dcdcdc;	
	position:relative;
	width:600px;
	}	
	content #preview-content {
		width:558px;
		height:270px;
		border: 1px solid #dcdcdc;
		padding:20px;
		text-align:center;
		perspective:1000;
		-webkit-perspective:1000;
		}		
	content #preview-content:hover .card  {
		transform: rotateY(180deg);
	  	-webkit-transform: rotateY(180deg);
		}  	
	content #preview-content .card {
		width:100%;
		height:100%;
		transform-style: preserve-3d;
		transition: all 1.0s linear;		
		-webkit-transform-style: preserve-3d;
		-webkit-transition: all 1.0s linear;
  		}
		content #preview-content .card .face {
			width:100%;
			height:100%;	
			max-height: 270px;
			max-width: 558px;			
			position: absolute;
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
		}
		content #preview-content .face.back {
			display: block;
			transform: rotateY(180deg);
			-webkit-transform: rotateY(180deg);
			}	
			content  #preview-content .face .img-content {
				width:100%;
				height:100%;	
				border: 2px solid green;
				border-radius: 7px;
				-webkit-border-radius: 7px;
				}	
			
	content .col-content {
		float:left;
		height: 323px;
		width:258px;
		padding:20px;
		margin-top:7px;
		background:#fff;
		}	
	content #title-content {
		width:93%;
		height:270px;
		line-height:270px;
		margin:auto;
		position:absolute;
		color:white;
		z-index: 5;
		font-size:30px;
		font-weight:500;
		font-style:italic;
		cursor:pointer;
		}
	
#right-aside {
	border: 0px solid #dcdcdc;
	position:relative;
	float:left;
	width:250px;
	}
	#right-aside #right-input {
		background: linear-gradient(#fff, #e0e0e0);
		background: -webkit-linear-gradient(#fff, #e0e0e0);
		border: 1px solid #ebebeb;
		border-radius: 3px 3px 3px 3px;
		height: 35px;
		outline: 0 none;
		width:175px;
		color:#7E878B;
		padding-left:20px;
		}

footer {
	clear:both;
	text-align:center;
	padding-top:2px;
	}

.selected {
	background:#333;
	color: #fff;
	}

.column {
	background:#fff;
	margin:auto;
	height:380px;
	width:200px;
	padding:20px;
	box-shadow: #E8E8E8 0px 0px 7px 7px inset;
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;		
	-webkit-box-shadow: #E8E8E8 0px 0px 7px 7px inset;
	-webkit-border-bottom-left-radius: 7px 7px;
	-webkit-border-bottom-right-radius: 7px 7px;
	-webkit-border-top-left-radius: 3px 3px;
	-webkit-border-top-right-radius: 3px 3px;	
	border: 1px solid #e0e0e0;				
	border-top: 6px solid #987196;
	}
	.column:nth-of-type(2) {
		margin-top:10px;
		height:200px;
		}
	
.article-img {
	padding:10px 10px 10px 0px;
	width:100px;
	float:left;
	}

.dot-line {
	line-height:54px;
	float:left;
	color:#ccc;
	}

.dot-line-header {
	float:left;
	padding-left:10px;
	}

.ellipsis {
	 overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
	 max-width: 150px;	 
	}

.roundCorners {
	box-shadow: #E8E8E8 0px 0px 7px 7px inset;
	-webkit-box-shadow: #E8E8E8 0px 0px 7px 7px inset;
	border: 1px solid #dcdcdc;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	}
	
h4 {
	margin-top:8px;
	color:#ccc;
	font-weight:400;
	padding: 15px 15px 8px 0px;
	}

p {
	margin: 8px 8px 8px 0px;
	font-size:12px;
	}

h4, li {
	cursor:pointer;
	}

