* {
	margin:0;
	padding:0;
}

body {
	background:#EBF6FF;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
}

#page-image {
	background:url("bday.jpg");	
	width:1030px;	
	margin:auto;	
}

#page-container {
		margin:auto;
		height:700px;
		max-width:1280px;
		width:630px;
		border:0px solid #8B462D;
	}
	#header-title {
		height:100px;
		font-size:40px;
		font-size: 36px;
		text-align: center;
		line-height: 90px;	
	}
	#header-title div {
		padding-top:30px;
		color:#3760B1;
	}
	nav {
		height:50px;
		border:2px solid #fff;	
		background: -webkit-linear-gradient(#86A2DA,#3760B1);
		}
		nav ul {
			list-style-type:none;
			width:550px;
			height:50px;
			margin:auto;
			}
			nav ul li {
				float:left;
				color:#fff;
				width:160px;
				text-align:center;
				line-height: 50px;
				cursor:pointer;
			}
	content {
		width:100%;
		height:550px;
		float:left;
		border:0px solid #ccc;
		}
		content .mainTabs {
			width: 626px;
			height: 100%;
			background: #D1EAFF;
			border: 1px solid #B8DFFF;
			display:none;
			}
		.content-wrapper {
			padding:30px;
			}
		.content-wrapper h3 {
			padding-bottom:30px;
			font-weight: 400;
			color:#8B462D;			
			}
		#content-1 {
			display:block;
			}
		#name-input{
				border-radius: 7px;
				height: 35px;
				border: 1px solid #8B462D;
				box-shadow: 3px 3px 3px 3px #E1DDDF inset;
				width: 350px;	
				margin-left:70px;		
				}
		#comment-input{
				margin-left:13px;
				height: 105px;
				border: 1px solid #8B462D;
				box-shadow: 3px 3px 3px 3px #E1DDDF inset;
				width: 350px;	
				border-radius: 7px;
				}
		#submit-comment-input{
				font-size:15px;				
				width:140px;
				height:35px;
				border: 1px solid #8B462D;
				color:#8B462D;
				display: inline-block;
				border-radius: 7px;
				line-height: 35px;
				text-align: center;		
				margin-left:30px;	
				cursor:pointer;
				background:-webkit-linear-gradient(#fff 5%, #CFB7BF);
				background:-o-linear-gradient(#fff 5%, #CFB7BF);
				background:-moz-linear-gradient(#fff 5%, #CFB7BF);			
				}
		.content-wrapper div {
			padding-bottom:30px;
			}
		#label-textarea {
			float:left;
			}	
		#label-span, #label-textarea {
			font-size:15px;
			}
		#preview-button{
			margin-left: 130px;
			width:140px;
			height:35px;
			border: 1px solid #8B462D;
			color:#8B462D;
			display: inline-block;
			border-radius: 7px;
			line-height: 35px;
			text-align: center;	
			font-size:15px;		
			cursor:pointer;
			background:-webkit-linear-gradient(#fff 5%, #CFB7BF);
			background:-o-linear-gradient(#fff 5%, #CFB7BF);
			background:-moz-linear-gradient(#fff 5%, #CFB7BF);			
			}
		content #content-details {
			height:150px;
			border:0px solid #ccc;
			background: -webkit-linear-gradient(#577ECB, #3760B1);
			}
			content #content-details #details-text {
				padding-top:15px;
			}
			#details-text a{
				color:#fff;
			}
		content #content-main {
			height:400px;
			border:0px solid #ccc;
			background:url('pic_5.png');
			}
			content #content-main .col {
				border:0px solid #000;
				width:313px;
				height:100%;
				float:left;
				position:relative;
				}
				content #content-main .col #content-text {
					position: relative;
					width: 250px;
					top: 30px;
					margin: auto;
					height: 355px;
					background:#D0E7FC;
					color:#56434C;
					}
					content #content-main .col #content-text  h4{
						font-size: 28px;
						padding: 10px;
						font-weight: 500;										
						}
					content #content-main .col #content-text  p{
						text-align:center;
						font-family:"Comic Sans MS", cursive, sans-serif;
					}
					#guestbook-formDiv {
						display:none;
					}
					#guestbook-linkDiv {
						cursor:pointer;
					}
					#guestbook-linkDiv h4 {
						padding-bottom:35px;
					}
					#guestbook-comments {
						height:400px;
						overflow-y:auto;
					}
					#guestbook-comments li {
						padding-bottom:30px;
					}
	aside {
		display:none;
		width:400px;
		float:left;
		border:0px solid #ccc;
	}
	footer {
	}
	.cursive {
		font-family:Adobe Poetica, Cursive;
	}
	.white {
		color:#fff;
	}
	.center {
		text-align:center;
	}
	.brown {
		color: #8B462D;
	}
